header {
    display: flex;
    background-color: darkblue;  
    justify-content: space-between;
    right: 5%;
    margin-top: 1%;
    color: white;
}

header a {
    color: white;
}

.flexbox-container-1 {
    display: flex;
}

.flexbox-item-1 {
    min-height: 100px;
    width: 200px;
    margin: 10px;
    border-right: 3px solid black;
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    
}

.flexbox-item-1a {
    min-height: 100px;
    display: flex;
    flex: 1 0 200px;
    width: 2200px;
    margin: 10px;
    color: white;
}

.flexbox-container-2 {
    display: flex;
}

.flexbox-item-2 {
    flex: wrap;
    min-height: 100px;
    width: 200px;
    margin: 10px;
    border-right: 3px solid black;
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.flexbox-item-2a {
    background-image: url("https://www.callcentrehelper.com/images/stories/2020/06/software-background-760.png");
    min-height: 100px;
    width: 2200px;
    margin: 10px;
    border: 3px solid black;
    color: orange;
    font-weight: bolder;
}

.flexbox-item-2b {
    display: flex
    width: 2200px;
    margin: 10px;
    border: 3px solid black;
}

.flexbox-item-2b ul{
    background-color: white;
}

.flexbox-container-4 {
    display: flex;
}

.flexbox-item-4 {
    min-height: 100px;
    width: 200px;
    margin: 10px;
    border-right: 3px solid black;
    text-align: right;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.flexbox-item-4a {
    display: flex;
    min-height: 100px;
    width: 2200px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    color: white;
}